
@{
    ViewBag.Title = "DelConfirmed";
}
<center>
    <h2>Deleted</h2>
    <button class="btn btn-success" ><a href="@Url.Action("ViewQuestions","QuestionsMVC")" class="text-light" style="text-decoration:none;">Back to Questions</a></button>
</center>
