
@{
    ViewBag.Title = "RegConfirmed";
}

<center>
    <h2>Registration Confirmed </h2>

    <p>Press The login button to continue</p>
    <div>
        <button class="btn btn-success"><a href="@Url.Action("Login","AccountMVC")">Login</a></button>
    </div>
</center>


